@font-face {
    font-family: nFont;
    src: url(public/nFont.otf);
}





#spotiPanel {
    padding: 50px;
    width: 25%;
    height: 300px;
    background-color: #1DB954;
    border-radius: 10px;
    margin-left: 35%;
    margin-top: 10%;
}



.pos-Container {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 5px;
    height: 250px;
}


button {
    width: 40%;
    height: 40px;
    margin-left: 30%;

    color: #faf9f6;

    background-color: #1DB954;
    border: 1px solid #faf9f6;
    border-radius: 5px;

}




h4 {
    margin: 0px;
    color: #faf9f6;
}






